#cookie-bar {
	padding: $element-margin;
	background: $black;
	color: $white;
	text-align: center;

	p {
		margin-bottom: 0;
	}

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9;
	}

	&.bottom {
		bottom: 0;
		top: auto;
	}

	.cb-enable {
		@extend .btn;
		background-color: #fff;
		text-decoration: none;
		margin-left: 15px;
	}
}
