.header-top {
	background-color: $secondary;
	padding: 9px 0;
	color: $white;

	.header-text {
		text-align: right;
	}
}

.social-wrap {
	text-align: right;

	a {
		color: $primary;
		background-color: $white;
		width: 22px;
		height: 22px;
		text-align: center;
		display: inline-block;
		margin-left: 10px;
		border-radius: 50%;
		align-items: center;
		line-height: 22px;

		i {
			font-size: 14px;
		}
	}
}

//header
//_____________________
.header {
	padding: 20px 0 0;
	border-bottom: 1px solid rgba( $black, 0.5 );
	margin-bottom: 20px;
}

.site-logo {
	max-width: 240px;
	float: left;
}

// nav
.main-nav {
	background-color: $primary;
	margin-top: 20px;

	.nav {
		display: flex;
		font-family: Oswald, sans-serif;
		align-items: center;

		li {
			position: relative;

			&.current-menu-item,
			&:hover {
				a {
					background-color: $secondary;
				}
			}

			a {
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: $white;
				display: block;
				padding: 10px 15px;
			}

			ul {
				position: absolute;
				top: 100%;
				display: none;
				z-index: 9;
				min-width: 220px;
				background-color: $secondary;

				li {
					border-bottom: 1px solid #00b9e1;

					&:last-child {
						border-bottom: none;
					}

					a {
						padding: 5px 12px;
					}
				}

				ul {
					left: 100%;
					top: 0;
					border-left: 1px solid #00b9e1;
				}
			}

			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}
}

.mobile-header {
	display: none;
}

@media all and ( max-width: 767px ) {
	//
	//hide / show css
	//_________________________________________
	.desktop {
		display: none !important;
	}

	.mobile {
		display: block !important;
	}

	.header {
		padding: 10px 0;
	}
	//
	//Mobile header
	//_____________________________________
	.menu-side__opened {
		body {
			height: 100vh;
			overflow: hidden;
		}

		.mobile-wrapper {
			overflow: visible;
			z-index: 1001;

			.mobile-header {
				left: 0;
				width: 100%;
			}
		}
	}

	#header {
		padding: 12px 0;

		.header-left {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.mobile-header-controller {
		float: right;
		padding: 5px;
		margin-top: 16px;

		> span {
			height: 4px;
			width: 30px;
			display: block;
			margin: 4px 0;
			background-color: $primary;
		}
	}

	.mobile-wrapper {
		overflow: hidden;
		position: fixed;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;

		.mobile-header {
			position: absolute;
			left: 200%;
			right: 0;
			top: 0;
			background: $primary;
			z-index: 1001;
			height: 100vh;
			width: 0;
			-webkit-transition: 0.3s cubic-bezier( 0, 0.43, 0.36, 1 );
			transition: 0.3s cubic-bezier( 0, 0.43, 0.36, 1 );
			align-items: center;
			flex-wrap: wrap;
			display: flex;

			.close-nav {
				top: 30px;
				right: 50px;
				color: #fff;
				position: absolute;

				.bar {
					height: 4px;
					width: 30px;
					display: block;
					margin: 4px 0;
					background-color: $white;
					position: absolute;

					&:first-child {
						transform: rotate( 45deg );
					}

					&:last-child {
						transform: rotate( -45deg );
					}
				}
			}

			.header-container {
				margin: 0 auto;
				text-align: center;
			}

			.mobile-nav {
				padding: 10px 0 20px;

				ul {
					list-style: none;

					li {
						margin: 10px 0;
						font-family: Oswald, sans-serif;
						font-size: 20px;

						a {
							color: #fff;
							text-decoration: none;
							padding: 0;
							display: inline-flex;
						}

						&.current-menu-item {
							a {
								border-bottom: 2px solid #fff;
							}
						}
					}
				}
			}
		}
	}

	.admin-bar {
		.mobile-wrapper {
			.mobile-header {
				a.close-nav {
					top: 60px;
				}
			}
		}
	}
}
